---
import HeaderDropDown from "./HeaderDropDown.astro";
import { LOCALES } from "../../config.ts";

interface Props {
    currentLocale: string;
    prefix: string;
}

const { currentLocale, prefix } = Astro.props;
const translations = await import(`../../i18n/${currentLocale}.json`);

const languagesValues = LOCALES.map((locale) => ({
    key: locale.key,
    label: translations.nav.languages[locale.index]?.label,
}));
---

<HeaderDropDown title={translations.nav.language}>
    {
        languagesValues.map((value: { key: string; label: string }) => (
            <li>
                <a id={`${prefix}-dropdown-item-${value.key}`}>{value.label}</a>
            </li>
        ))
    }
</HeaderDropDown>

<script>
    import {
        replaceLangFromUrl,
        getLangFromUrl,
    } from "../../utils/locale.ts";
    import { LOCALES } from "../../config.ts";
    const currentUrl = new URL(window.location.href);
    const currentLang = getLangFromUrl(currentUrl);

    LOCALES.forEach((value) => {
        const dropDownValues = document.querySelectorAll(
            `[id$="dropdown-item-${value.key}"]`,
        );
        dropDownValues.forEach((dropDownValue) => {
            dropDownValue.addEventListener("click", (event) => {
                event.preventDefault();
                applyLanguage(value.key);
            });
        });
    });

    function applyLanguage(key: string) {
        if (currentLang !== key) {
            window.location.replace(replaceLangFromUrl(currentUrl, key).href);
        }
        if (document.activeElement) {
            (document.activeElement as HTMLElement).blur();
        }
    }
</script>
