---
import Logo from "../../assets/logo.svg";
import MobileNavIcon from "../../assets/mobile-nav.svg";
import CrossIcon from "../../assets/cross.svg";
import HeaderNavLink from "./HeaderNavLink.astro";
import { headerNavRoutes } from "../../utils/navLinks";
import { getRelativeLocaleUrl } from "astro:i18n";
import HeaderThemeDropDown from "./HeaderThemeDropDown.astro";
import HeaderLanguageDropDown from "./HeaderLanguageDropDown.astro";
import { PAGES } from "../../config";

interface Props {
  currentPath: string;
  currentLocale: string;
}

const { currentPath, currentLocale } = Astro.props;
const translations = await import(`../../i18n/${currentLocale}.json`);
const navRoutes = headerNavRoutes.map(({ key, href }) => ({
  href: getRelativeLocaleUrl(currentLocale, href),
  label: translations.nav[key],
}));

const homeRoutePath = getRelativeLocaleUrl(currentLocale, PAGES[0].href);
---

<header class="shadow-sm">
  <div class="w-fullpx-2 p-2 md:px-6">
    <div class="md:hidden">
      <div class="relative flex items-center">
        <button
          type="button"
          class="btn btn-ghost rounded-md p-2"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <MobileNavIcon width={24} height={24} />
          <CrossIcon width={24} height={24} class="hidden" />
        </button>

        <a
          href={homeRoutePath}
          class="hover-zoom absolute left-1/2 -translate-x-1/2 flex items-center gap-2"
          aria-label="Sport Track Merger Logo"
        >
          <Logo width={40} height={40} />
        </a>
      </div>

      <nav class="hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
          {
            navRoutes.map((link) => (
              <HeaderNavLink
                href={link.href}
                label={link.label}
                currentPath={currentPath}
                className="flex items-center justify-start"
              />
            ))
          }
          <div class="flex items-center justify-end">
            <HeaderThemeDropDown
              currentLocale={currentLocale}
              prefix="mobile"
            />
            <HeaderLanguageDropDown
              currentLocale={currentLocale}
              prefix="mobile"
            />
          </div>
        </div>
      </nav>
    </div>
    <nav class="hidden md:block">
      <div class="flex">
        <div class="flex-1 flex items-center gap-6">
          <a
            href={homeRoutePath}
            class="hover-zoom"
            aria-label="Sport Track Merger Logo"
          >
            <Logo width={40} height={40} />
          </a>
          <div class="flex gap-4 sm:gap-1">
            {
              navRoutes.map((link) => (
                <HeaderNavLink
                  href={link.href}
                  label={link.label}
                  currentPath={currentPath}
                />
              ))
            }
          </div>
        </div>
        <HeaderThemeDropDown currentLocale={currentLocale} prefix="desktop" />
        <HeaderLanguageDropDown
          currentLocale={currentLocale}
          prefix="desktop"
        />
      </div>
    </nav>
  </div>
</header>

<script>
  const btn = document.querySelector('[aria-controls="mobile-menu"]');
  const menu = document.getElementById("mobile-menu");
  if (btn && menu) {
    const [iconOpen, iconClose] = btn.querySelectorAll("svg");

    btn.addEventListener("click", () => {
      const isOpen = menu.classList.toggle("hidden");
      iconOpen.classList.toggle("hidden");
      iconClose.classList.toggle("hidden");
      btn.setAttribute("aria-expanded", (!isOpen).toString());
    });
  }
</script>
