---
import { Image } from "astro:assets";

interface Props {
    lang: string;
    logoSize: "small" | "large";
}
const { lang, logoSize } = Astro.props as Props;

const logoHeight = logoSize === "large" ? 56 : 38;

const translation = await import(`../i18n/${lang}.json`);
const AppleLogo = (await import(`../assets/badges/${lang}/ios_badge.svg`))
    .default;
const googleLogo = (await import(`../assets/badges/${lang}/google_badge.png`))
    .default;
---

<div
    class={`flex ${logoSize === "large" ? "flex-col sm:flex-row gap-5 sm:gap-10" : "flex-row gap-5 sm:gap-3"} items-center justify-center`}
>
    <a
        href={translation.storeBadges.appstore_url}
        target="_blank"
        rel="noopener noreferrer"
        class="hover-zoom-sm"
    >
        <AppleLogo
            height={logoHeight}
            alt={translation.storeBadges.download_ios}
        />
    </a>
    <a
        href={translation.storeBadges.playstore_url}
        target="_blank"
        rel="noopener noreferrer"
        class="hover-zoom-sm"
    >
        <Image
            height={logoHeight}
            src={googleLogo}
            alt={translation.storeBadges.download_android}
        />
    </a>
</div>
