---
import PoweredByStravaLogo from "../../assets/pwrdBy_strava.svg";
import SocialIcon from "./SocialIcon.astro";
import FooterNavLink from "./FooterNavLink.astro";
import { footerNavRoutes } from "../../data/navLinks";
import { socialNavRoutes } from "../../data/navLinks";
import { getRelativeLocaleUrl } from "astro:i18n";

// Props
const { currentLocale } = Astro.props;

const t = await import(`../../i18n/${currentLocale}.json`);
const navRoutes = footerNavRoutes.map(({ key, href }) => ({
  href: getRelativeLocaleUrl(currentLocale, href),
  label: t.nav[key],
}));

const currentYear = new Date().getFullYear();

const socialLinks = socialNavRoutes.map(({ key, href, icon }) => ({
  href,
  icon,
  ariaLabel: t.social[key],
}));
---

<footer
  class="footer flex flex-col-reverse lg:flex-row items-center justify-between p-3 gap-3 lg:gap-10 bg-neutral text-neutral-content"
>
  <p class="text-sm">
    {t.footer.copyright.replace("{year}", currentYear.toString())}
  </p>
  <nav class="flex items-center gap-7 text-sm">
    {
      navRoutes.map((link) => (
        <FooterNavLink href={link.href} label={link.label} />
      ))
    }
  </nav>

  <nav class="flex items-center gap-3">
    {
      socialLinks.map((link) => (
        <SocialIcon
          href={link.href}
          icon={link.icon}
          size={30}
          ariaLabel={link.ariaLabel}
        />
      ))
    }
    <span class="ps-3">
      <PoweredByStravaLogo height={30} />
    </span>
  </nav>
</footer>
