---
import "../styles/global.css";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { LOCALES_KEYS, DEFAULT_LOCALE, SITE_URL } from "../config.ts";

interface Props {
  title: string;
  description?: string;
  shouldIndex: boolean;
  showSportTrackMergerLogo?: boolean;
}

const {
  title,
  description,
  shouldIndex,
  showSportTrackMergerLogo = true,
} = Astro.props;

const currentPath = Astro.url.pathname;
const currentLocale = Astro.currentLocale || DEFAULT_LOCALE;
const routePattern = Astro.routePattern;

const safeRoutePattern = typeof routePattern === "string" ? routePattern : "";
const pathWithoutLocale = safeRoutePattern.replace(
  new RegExp(`^/\\[lang\\]`),
  "",
);
const relativePath =
  pathWithoutLocale === "" ? "/" : pathWithoutLocale.replace(/\/+$/, "") || "/";
---

<html lang={currentLocale}>
  <head>
    <!-- 1. Charset + viewport-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- 2. Title + meta SEO -->
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {!shouldIndex && <meta name="robots" content="noindex, nofollow" />}

    <!-- 3. Canonical + hreflang -->
    <link rel="canonical" href=`${SITE_URL}${currentPath}` />
    {
      LOCALES_KEYS.map((locale) => (
        <link
          rel="alternate"
          hreflang={locale}
          href={getAbsoluteLocaleUrl(locale, relativePath)}
        />
      ))
    }
    <link
      rel="alternate"
      hreflang="x-default"
      href={getAbsoluteLocaleUrl(DEFAULT_LOCALE, relativePath)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- 4. Icônes + styles -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header
      currentPath={currentPath}
      currentLocale={currentLocale}
      showSportTrackMergerLogo={showSportTrackMergerLogo}
    />
    <main class="flex-1 overflow-auto">
      <slot />
    </main>
    <Footer currentLocale={currentLocale} />
  </body>
</html>
