---
const { DEFAULT_LOCALE } = await import("../config.ts");

interface Props {
  path?: string;
  redirectWithQuery?: boolean;
  noindex?: boolean;
}

const { path, redirectWithQuery = false, noindex = true } = Astro.props;
const redirectUrl = path
  ? `/${DEFAULT_LOCALE}/${path.replace(/^\/+/, "")}/`
  : `/${DEFAULT_LOCALE}/`;
---

<html lang={DEFAULT_LOCALE}>
  <head>
    <!-- 1. Charset + viewport-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- 2. Icônes + styles -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    {
      redirectWithQuery && (
        <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
      )
    }
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a></p>
  </body>
</html>

<script>
  const { DEFAULT_LOCALE } = await import("../config.ts");
  const path = window.location.pathname.replace(/^\/+/, "");
  const query = window.location.search;
  const redirectUrl = `/${DEFAULT_LOCALE}/${path}${query}`;
  window.location.replace(redirectUrl);
</script>
