---
import BaseLayout from "../../layouts/BaseLayout.astro";
import STMLogo from "../../assets/logo.svg";
import type { MarkdownInstance } from "astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { legalMobileNavRoutes } from "../../utils/navLinks";

interface Props {
    legalMd: MarkdownInstance<any>;
    currentLocale: string;
}
const { legalMd, currentLocale } = Astro.props;
const { lang } = Astro.params;
const translation = await import(`../../i18n/${lang}.json`);

const legalRoutes = legalMobileNavRoutes
    .map(({ key, href }) => ({
        href: getRelativeLocaleUrl(currentLocale, href),
        label: translation.mobile.legal[key],
    }));
---

<BaseLayout
    title={legalMd.frontmatter.head.title}
    description={legalMd.frontmatter.head.description}
    shouldIndex={false}
    showSportTrackMergerLogo={false}
>
    <div
        class="max-w-3xl mx-auto flex flex-col items-center justify-center gap-8 py-12 px-4"
    >
        <div class="flex flex-row items-center justify-center gap-4">
            <STMLogo class="w-15 h-15 rounded-2xl shadow-lg" />
            <span class="text-2xl font-semibold">Sport Track Merger</span>
        </div>
        <h1 class="text-3xl font-bold text-center">
            {legalMd.frontmatter.title}
        </h1>
        <div
            class="prose-base bg-base-200 rounded-lg shadow-lg p-8 prose-ul:list-disc prose-blockquote:border-s-4 prose-blockquote:border-base-300 prose-blockquote:italic prose-a:link-primary"
        >
            <legalMd.Content />
        </div>
        <div class="flex sm:flex-row flex-col items-center justify-center sm:gap-3 text-center">
            {
                legalRoutes.map((link, index) => (
                    <>
                        <a class={`hover-zoom-sm link`} href={link.href}>
                            {link.label}
                        </a>
                        {index < legalRoutes.length - 1 && <span>•</span>}
                    </>
                ))
            }
        </div>
    </div>
</BaseLayout>
